:root {
    --primary-color: #e74c3c;
    --secondary-color: #2c3e50;
    --default-trans: all 0.3s ease-out;
}

/**********Header*********/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/*Navigator*/

.nav-hamburger{
    display: none;
}

.navbar {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: var(--default-trans);
}

.navbar.scrolled {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 5px solid var(--primary-color);
}

#navbar-spyscroll li.active a {
	color: var(--primary-color);
}

.nav-link {
    color: var(--secondary-color);
    font-weight: bold;
    margin-left: 20px;
}

.nav-link:hover,
.navbar-brand:hover,
.nav-link.active {
    color: var(--primary-color) !important;
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 3rem;
    color: var(--secondary-color);
    font-weight: bold;
}

/**********Header End*********/

/**********Home*********/
#home {
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url(../img/banner-bg.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    margin-top: 40px;
}

.home-content {
    color: #FFF;
    text-align: center;
}

.home-content h2 {
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Merriweather', serif;
}

.home-content h2>*,
.home-content h1 * {
    font-family: 'Merriweather', serif;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Merriweather', serif;
}

.txt-type>.txt {
    border-right: 0.2rem solid #777;
}

.txt-type {
    color: var(--primary-color);
}

.home-sm-list {
    display: flex;
    max-width: 150px;
    margin: auto;
    justify-content: space-between;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #FFF;
}

.home-sm-list li a i {
    font-size: 1.8rem;
    color: #FFF;
}

.home-sm-list li a:hover i {
    color: var(--primary-color);
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    text-align: center;
}

.scroll-down i,
.scroll-down p {
    color: #FFF;
    font-size: 2rem;
    animation: scrolldown 2s ease-out infinite;
}

.scroll-down p {
    font-size: 1rem;
}

@keyframes scrolldown {
    0% {
        transform: translateY(10px);
        opacity: 1;
    }

    50% {
        transform: translateY(0px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(10px);
        opacity: 1;
    }
}

/*************About************/
.skill-container h4{
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.skill-container:last-child h4{
    margin-bottom: 50px;
}

.skill-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/***********Projects*********/
#projects {
    background-color: #2d3436;
}

.project-item {
    margin-bottom: 20px;
    position: relative;
}

.project-item:hover::after,
.project-item:hover .work-item-desc {
    opacity: 1;
}

.project-item::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;
    right: 30px;
    bottom: 10px;
    background-image: linear-gradient(rgba(231, 76, 60, 0.8), rgba(44, 62, 80, 0.8));
    opacity: 0;
    transition: var(--default-trans);
}

.project-item img{
    height: 100%;
    min-height: 270px;
    width: 100%;
}

.work-item-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 3;
    transition: var(--default-trans);
    opacity: 0;
}

.work-item-desc h4 {
    color: #FFF;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.work-item-desc ul {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    margin: auto;
}

.work-item-desc ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: var(--default-trans);
}

.work-item-desc ul li a i {
    line-height: 40px;
    color: var(--secondary-color);
    transition: var(--default-trans);
}

.work-item-desc ul li a:hover i {
    color: #FFF;
}

.work-item-desc ul li a:hover {
    background-color: var(--primary-color);
}

/*********Coding***********/
.coding-item {
    margin-bottom: 20px;
}

.coding-container:hover {
    box-shadow: 0px 0px 20px var(--primary-color);
}

.coding-container {
    transition: var(--default-trans);
    border-radius: 10px;
}

.coding-container:hover .coding-item-header {
    background-color: var(--primary-color);
}

.coding-item-header {
    padding: 10px;
    background-color: var(--secondary-color);
    color: #FFF;
    border: 1px solid rgb(201, 201, 201);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 0px;
    transition: var(--default-trans);
}

.coding-item-header h4 {
    font-size: 1.2rem;
}

.coding-item-desc {
    padding: 10px;
    color: #000;
    border: 1px solid rgb(201, 201, 201);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 0px;
}

/********Contact**********/
#contact {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/contact-bg.jpg);
    background-size: cover;
    background-position: bottom;
}

#contact-form input,
#contact-form textarea{
    background-color: var(--secondary-color);
    color: #FFF;
    border: 1px solid #fff;
    border-radius: 0;
    transition: var(--default-trans);
}

#contact-form input:focus,
#contact-form textarea:focus{
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
}

#contact-form input:focus::placeholder,
#contact-form textarea:focus::placeholder{
    color: var(--secondary-color);
}

#contact-form input::placeholder,
#contact-form textarea::placeholder{
    color: #FFF;
}

/*********Footer**********/
footer {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer h4 {
    margin-bottom: 30px;
    color: #FFF;
    font-weight: bold;
}